		<div class="small-12 medium-12 columns">
		<div class="row">
			<div class="small-12 medium-12 columns">
				<select name="room[check_in][][status]" class="">
					<option value="">Select Status</option>
					<option value="sleep">Asleep</option>
					<option value="awake">Awake</option>
					<option value="bathroom">Bathroom</option>
					<option value="pass">Pass</option>
					<option value="awol">AWOL</option>
					<option value="empty">Empty</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="small-12 medium-12 columns">
				<label for="check_in_initials">Youth Initials</label>
				<input type="text" name="room[check_in][][initials]" id="check_in_initials">
			</div>
		</div>

		<div class="row">
			<div class="small-12 medium-12 columns">
				<label for="check_in_comment">Comment</label>
				<textarea name="room[check_in][][comment]" id="check_in_comment"></textarea>
			</div>
		</div>

		<input type="hidden" name="room[check_in][][room_id]" value="<%= room_id %>">
	</div>