<form>
	<!-- do I actually need the auth token here? -->
	<input type="hidden" name="form_authenticity_token" value="<%= $("head").find("meta[name='csrf-token']").attr("content") %>">

	<label for="check_in_status_awake">Awake</label>
	<input type="radio" name="check_in[status]" id="check_in_status_awake" value="awake">
	
	<label for="check_in_status_sleep">Asleep</label>
	<input type="radio" name="check_in[status]" id="check_in_status_sleep" value="sleep">
	
	<label for="check_in_status_bathroom">Bathroom</label>
	<input type="radio" name="check_in[status]" id="check_in_status_bathroom" value="bathroom">
	
	<label for="check_in_status_pass">Pass</label>
	<input type="radio" name="check_in[status]" id="check_in_status_pass" value="pass">
	
	<label for="check_in_status_awol">AWOL</label>
	<input type="radio" name="check_in[status]" id="check_in_status_awol" value="awol">

	<label for="check_in_initials">Initials</label>
	<input type="text" name="check_in[initials]" id="check_in_initials">
	
	<label for="check_in_comment">Comment</label>
	<input type="textarea" name="check_in[comment]" id="check_in_comment">


	<!-- need to convert this helper to javascript; use the room collection, escape the data, etc -->
	<select name="check_in[room_id]" id="check_in_room_select">
		<% @tour.house.rooms.reverse.each do |r| %>
			<option value="<%= r.id %>"><%= r.room_name %></option>
		<% end %>
	</select>

	<!-- this needs to take it's value through jQuery or through backbone view?-->
	<!-- <input type="hidden" name="check_in[room_id]" value=""> -->

	<input type="submit" value="Submit Room">
</form>