	<div class="row">
	  <div id="outdiv" class="small-12 columns small-centered">
	  </div>
	</div>

	<div class="row">
		<div class="small-12 medium-12">
			<select id="room_select">
				<option value="-1">...</option>
				<% rooms.each(function(room){ %>
					<option value="<%= room.escape('id') %>"><%= room.escape('room_name') %></option>
				<% }); %>
			</select>
		</div>
	</div>

	<form id="check_in_form" action="" method="post">
		<input type="hidden" name="authenticity_token" value="#{form_authenticity_token}">

		<ul id="check_in_list" class="no-bullet"></ul>

		<div class="row">
			<div class="small-12 medium-12">
				<button class="submit" id="check_room">Submit Room</button>
			</div>
		</div>
	</form>

	<canvas id="qr-canvas" width="800" height="600"></canvas>