<div class="row">
	<div class="small-12 columns small-centered">
		<div class="row">
			<ul class="inline-list panel small-9 columns small-centered">
				<% rooms.forEach(function(room){ %>
					<li class="panel custom" id="<%= room.get('id') %>"><%= room.get('room_name') %></li>
				<% }) %>
			</ul>
		</div>
	</div>
</div>

	<div class="row">
	  <div id="outdiv" class="small-8 columns small-centered panel" >
	  </div>
	</div>

<!-- comment this section out -->
<!-- 	<div class="row">
		<div class="small-12 medium-12">
			<select id="room_select">
				<option value="-1">...</option>
				<% rooms.each(function(room){ %>
					<option value="<%= room.escape('room_name') %>"><%= room.escape('room_name') %></option>
				<% }); %>
			</select>
		</div>
	</div> -->

	<div class="row">
		<div class="small-8 columns small-centered">
			<div class="row">
				<h3 id="room-name" class="small-4 columns small-centered"></h3>
			</div>
		</div>
	</div>

	<form id="check_in_form" action="" method="post">
		<input type="hidden" name="authenticity_token" value="#{form_authenticity_token}">

		<ul id="check_in_list" class="no-bullet"></ul>

		<div class="row">
			<div class="small-3 columns small-centered">
				<button class="submit" id="check_room">Submit Room</button>
			</div>
		</div>
		
	</form>

	<canvas id="qr-canvas" width="800" height="600"></canvas>