<div class="panel row custom house"><div class="small-12 columns small-centered">
  <h4>House1</h4>
</div>
<ul class="shift accordion" data-accordion=""><li class="small-12 columns small-centered accordion-navigation"><a href="#panel0a1"><h5>6:00pm</h5></a>

  <div id="panel0a1" class="content"><ul class="hour"><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li></ul></div>
</li><li class="small-12 columns small-centered accordion-navigation"><a href="#panel1a1"><h5>7:00pm</h5></a>

  <div id="panel1a1" class="content"><ul class="hour"><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li></ul></div>
</li><li class="small-12 columns small-centered accordion-navigation"><a href="#panel2a1"><h5>8:00pm</h5></a>

  <div id="panel2a1" class="content"><ul class="hour"><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li><li class="panel">not started
</li></ul></div>
</li>

</ul>
</div>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js" %>

<script type="text/javascript">
  $(document).foundation();
</script>