<!-- delete the name header? -->
<div class="row">
	<div class="small-3 columns small-centered">
		<h2><%= @user.username %></h2>
	</div>
</div>

<div class="row">
	<div class="small-3 columns small-centered">
		<a href="<%= new_tour_url %>" class="button large">
			Next Tour: <%= next_tour_time.strftime("%l:%M") %>
		</a>
	</div>
</div>