<div id="check-in-main-content">
</div>

<script type="application/json" id="rooms-json">
	<%= @rooms.to_json.html_safe %>
</script>

<script type="text/javascript" id="tour-json">
<%= @tour.to_json.html_safe %>
</script>	

<script type="text/javascript">
	$(document).ready(function(){
		var deferred = $.Deferred();
		var roomsJson = JSON.parse($("#rooms-json").html());
		var tourJson = JSON.parse($("#tour-json").html());

	  // BrandonApp.initialize(roomsJson, tourJson, $("#check-in-main-content"));
	  // setTimeout(function(){
	  // 	setwebcam();
	  // }, 3000);
	
	  deferred.done(BrandonApp.initialize).done(setwebcam).done(load);
	  deferred.resolve(roomsJson, tourJson, $("#check-in-main-content"))
});
</script>