<h1>EDIT TOUR</h1>

<form action="<%= tour_url %>" method="post" enctype="multipart/form-data">
	<%= update_method_input %>
	<%= auth_token %>

	<input type="file" name="tour[end_img]" id="take-picture" accept='image/*;capture=camera'>
	<input type="submit" value="Upload">
</form>