<h1>NEW TOUR</h1>

<form action="<%= tours_url %>" method="post">
	<%= auth_token %>
<!-- might need to change name attr, depending on what the attribute name is in rails (after paperclip integration) -->
<input type="file" name="tour[img]" id="take-picture" accept='image/*' >

<input type="submit" value="Upload">

</form>

