/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
x * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require foundation
 */

#qr-canvas {
	display: none;
}

#v {
	border: 1px solid gray;
	padding: 0px;
	/*border-width: 3px;*/
	/*border-color: black;*/
}

#errors {
	color: red;
}

.check-in-table > tbody > tr:nth-child(even) {
  background-color: #ddd;
}

.check-in-table > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

button.huge, .button.huge {
  padding-top: 1.375rem;
  padding-right: 2.75rem;
  padding-bottom: 1.4375rem;
  padding-left: 2.75rem;
  font-size: 1.6875rem;  
}

/*tour tracker, statuses, etc*/

.hour {
  margin-left: 0;
}

#tour-tracker-main-content > .tracker {
  max-width: 65rem;
  /*max-width: 83rem;*/
  /*max-width: 100rem;*/
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.accordion-navigation > .content {
  padding: .46875rem !important;
}

.content > ul > li {
  padding: .46875rem;
  margin-bottom: .46875rem;
}

.content > ul > li:last-child {
  margin-bottom: 0;
}

.shift.accordion {
  padding-bottom: .9375rem;
}

.tracker > .house {
  margin-top: 1.25rem;
  margin-left: .1rem !important;
  margin-right: .1rem !important;
  padding: .1rem;
  float: left;
}

.panel.custom {
  /*background-color: #bbb;*/
  background-color: #ccc;
}

.panel.tour-complete {
  /*background-color: green;*/
  /*background-color: #098C09;*/
  /*background-color: #16A916;*/
  /*background-color: #67E300;*/
  background-color: #1DD300;
}

.panel.old-tour-incomplete {
  background-color: #fffc61;
}

.panel.tour-incomplete {
  /*background-color: red;*/
  background-color: #FF1E1E;
}

.panel.tour-not-started {
  /*background-color: #ccc*/
  background-color: #f2f2f2;

}

.panel.tour-late {
  /*background-color: orange;*/
  /*background-color: #AF4C0B;*/
  background-color: #FF8300;
}

.panel.tour-in-progress {
  background-color: yellow;
  /*background-color: #D4B41C;*/
}

/*no bullets */

li {
  list-style-type: none;
}