/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
x * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require foundation
 *= require foundation_overrides
 */

#qr-canvas {
	display: none;
}

#v {
	border: 1px solid gray;
	padding: 0px;
	/*border-width: 3px;*/
	/*border-color: black;*/
}

#errors {
	color: red;
}

button.huge, .button.huge {
  padding-top: 1.375rem;
  padding-right: 2.75rem;
  padding-bottom: 1.4375rem;
  padding-left: 2.75rem;
  font-size: 1.6875rem;
}

/* no bullets */
li {
  list-style-type: none;
}

/* breakpoints */

.medium-breakpoint {
		display: none;

		@media (max-width: 900px) {
				display: block;
		}
}

.wide-breakpoint {
		display: none;

		@media (min-width: 901px) {
				display: block;
		}
}

/* User Show / New Tour */

.button.huge.new-tour-button {
		margin: 20px auto;
		display: block;
		width: 210px;
}

/* Header and block centering */

h2.header {
		margin: 20px auto;
		display: block;
		width: 400px;
		text-align: center;
}
