// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table thead td {
	text-align: center;
}

td {
	text-align: center;
}

.tour-begin-time {
	float:left;
	padding: 5px;
}

.tour-end-time {
	float: left;
	padding: 5px;
	margin-left: 10px;
}

.tour-completion {
	padding: 5px;
	float:right;
}

.tour-wrapper {
	border-bottom: 1px solid #010101;
}

.tour-wrapper:last-of-type {
  border-bottom: 0px;
}

/*tour tracker, statuses, etc*/

.hour {
  margin-left: 0;
}

#tour-tracker-main-content > .tracker {
  max-width: 65rem;
  /*max-width: 83rem;*/
  /*max-width: 100rem;*/
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.accordion-navigation > .content {
  padding: .46875rem !important;
}

.content > ul > li {
  padding: .46875rem;
  margin-bottom: .46875rem;
}

.content > ul > li:last-child {
  margin-bottom: 0;
}

.shift.accordion {
  padding-bottom: .9375rem;
}

.tracker > .house {
  margin-top: 1.25rem;
  margin-left: .1rem !important;
  margin-right: .1rem !important;
  padding: .1rem;
  float: left;
}

.custom {
  /*background-color: #bbb;*/
  background-color: #ccc;
}

.tour-complete {
  background-color: none;
}

.tour-wrapper .tour-complete:before {
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\f00c";
  float: left;
  padding: 5px;
  color: #43AC6A;
}

.old-tour-incomplete {
  background-color: #fffc61;
}

.tour-incomplete {
  background-color: none;
}

.tour-wrapper .tour-incomplete:before {
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\f00d";
  float: left;
  padding: 5px;
  color: #f04124;
}

.tour-not-started {
  /*background-color: #ccc*/
  background-color: #f2f2f2;

}

.tour-late {
  /*background-color: orange;*/
  /*background-color: #AF4C0B;*/
  background-color: #FF8300;
}

.tour-in-progress {
  background-color: yellow;
  /*background-color: #D4B41C;*/
}
